/* Your Website Styles */
body {
	background: url("../img/stardust.png") #20B2AA;
}

h1{
	font-family: 'Poiret One', cursive;
	color: #79205D;
	font-style: italic;

	background: #8470ff;
	padding: 10px 0 0 0;
	border: 10px #1B937B;
	width: 340px;
	margin: 10px;
}

h2 { 

	color: #9179E6;
}

h3 {
	font-family: 'Sacramento', cursive;
	color: #9179E6;
}




}

.photo {
	height: 100%;
	width: 400px;
}

#name {
	color: #00E6BF;
}

#leadin {
	color: #490D2D;
	background: #6CE4BA;
}

.subhead {
	font-style: italic;
	margin-left: 30px;
}

p{
	font-family: 'Sacramento', cursive;
	line-height: 36px;
}



/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}