/* Your Website Styles */
body {
	background: url("../img/bg.png") #20B2AA;
}

h1{
	font-family: 'Shadows Into Light', cursive;
	color: #79205D;
	font-style: italic;

	background: #8470ff;
	padding: 10px 0 0 0;
	border: 10px #1B937B double;
	width: 340px;
	margin: 10px;
}

h3 {
	color: #9179E6;
}

#name {
	color: pink;
}

#leadin {
	color: #490D2D;
	background: #6CE4BA;
}

.subhead {
	font-style: italic;
	margin-left: 30px;
}

p{
	line-height: 36px;
}



/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}